{% extends 'site/base.html' %}
{% load staticfiles %}
{% block main_content %}
<header id="home_about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 head">
				<h1 class="text-center">About</h1>
			</div>
		</div>
	</div>
</header>
<section id="about_about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 about_about_head">
				<h3 class="text-center">About Imagi Studio</h3>
				<p class="text-center">nteger in odio ut velit laoreet mollis. </p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 about_about_holder">
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
		<div class="row icon-holder">
			<div class="col-md-4 col-sm-4 text-center">
				<i class="fa fa-mobile icon" aria-hidden="true"></i>
				<h4>About Imagi Studio</h4>
				<p>lorem ipsum</p>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<i class="fa fa-mobile icon" aria-hidden="true"></i>
				<h4>About Imagi Studio</h4>
				<p>lorem ipsum</p>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<i class="fa fa-mobile icon" aria-hidden="true"></i>
				<h4>About Imagi Studio</h4>
				<p>lorem ipsum</p>
			</div>
		</div>
	</div>
</section>
<section id="about_team">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 more-base auto-height">
					<div class="more-abt">
							<h2>Meet our talented Team</h2>
					</div>
					<div class="more-sub">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="more-outer auto-height">
					<ul class="images">
						<li class="image"><img class="img-responsive" src="{% static 'img/10.jpg' %}" alt=""></li>
						<li class="image"><img class="img-responsive" src="{% static 'img/10.jpg' %}" alt=""></li>
						<li class="image"><img class="img-responsive" src="{% static 'img/10.jpg' %}" alt=""></li>
						<li class="image"><img class="img-responsive" src="{% static 'img/10.jpg' %}" alt=""></li>
						<li class="image"><img class="img-responsive" src="{% static 'img/10.jpg' %}" alt=""></li>
						<li class="image"><img class="img-responsive" src="{% static 'img/10.jpg' %}" alt=""></li>
					</ul>
				</div>
			</div>
		</div>
</section>
<section id="about_quotes">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<i class="fa fa-mobile icon" aria-hidden="true"></i>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p><i>Author Name</i></p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
