{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Studio</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Source+Sans+Pro:200,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/be84370b8c.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body  data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">STUDIO</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
			  <ul class="nav navbar-nav navbar-right">
					{% with url_name=request.resolver_match.url_name %}
					<li class="{% if url_name == 'index' %}active{% endif %}" ><a href="/">Home</a></li>
			    <li class="{% if url_name == 'services' %}active{% endif %}" ><a href="/services">Services</a></li>
			    <li class="{% if url_name == 'about' %}active{% endif %}" ><a href="/about">About</a></li>
			    <li class="{% if url_name == 'gallery' %}active{% endif %}" ><a href="/gallery">Gallery</a></li>
					<li class="{% if url_name == 'live' %}active{% endif %}" ><a href="/gallery">Live</a></li>
			    <li class="{% if url_name == 'contact' %}active{% endif %}" ><a href="/contact">Contact</a></li>
					{% endwith %}
			  </ul>
			</div>
		</div>
	</nav>
  {% block main_content %}
  {% endblock %}
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<h4>IMAGI STUDIO</h4>
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>USEFULL LINKS</h4>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Contact</a></li>
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>ABOUT</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
				</div>
				<div class="col-md-3 col-sm-3 tags">
					<h4>TAGS</h4>
					<a href="#">about</a>
					<a href="#">photography</a>
					<a href="#">studio</a>
					<a href="#">about</a>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-7"><p>© 2017 studio.in . All rights reserved.</p></div>
				<div class="col-md-5">
					<ul>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Youtube</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'scripts/owl.carousel.min.js' %}"></script>
	<script src="{% static 'scripts/numscroller-1.0.js' %}"></script>
	<script src="{% static 'scripts/typed.min.js' %}"></script>
	<script src="{% static 'scripts/jquery.matchHeight-min.js' %}"></script>
	<script src="{% static 'scripts/lightbox.min.js' %}"></script>
	<script src="{% static 'scripts/scripts.js' %}"></script>
</body>
</html>
