{% extends 'site/base.html' %}
{% load staticfiles %}
{% block main_content %}
<header id="home_about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 head">
				<h1 class="text-center">Contact Us</h1>
			</div>
		</div>
	</div>
</header>
<section id ="contact-form">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 contact_head">
				<h3 class="text-center">Get in touch with us</h3>
				<p class="text-center">nteger in odio ut velit laoreet mollis. </p>
				<hr>
			</div>
		</div>
	<div class="row">
		<div class="col-md-7">
			<h4 class="main-heading">CONTACT FORM</h4>
			<form method="post" class="row" id="contact_form" accept-charset="utf-8">
			<input type='hidden' name='csrfmiddlewaretoken' value='IPqBIvfr84t9S6WgwaLvaTVjfsRjg8BuNJdOyuhz3L8FMEX9zyKYO4FeOH1l2w2s' />
					<div class="col-md-6 input">
						<label >First Name</label>
						<input type="text" name="fname" class="form-control"  placeholder="First Name" required="true">
					</div>
					<div class="col-md-6 input">
						<label >Last Name</label>
						<input type="text" name="lname" class="form-control" placeholder="Last Name" required="true">
					</div>
					 <div class="col-md-6 input">
						<label >Email</label>
						<input type="text" name="email" class="form-control"  aria-describedby="emailHelp" placeholder="Email" required="true">
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
						<div class="col-md-6 input">
						<label >Phone Number</label>
						<input type="text" name="pno" class="form-control"  placeholder="Phone Number" required="true">
					</div>
					<div class="col-md-12 input">
						<label >Write your message here</label>
						<textarea class="form-control" name="message" rows="6" required="true"></textarea>
					</div>
					<div class="col-md-12 input">
					<a id="submit" class="btn btn-primary form-button">SEND MESSAGE</a>

					<div  id="result" class="alert alert-danger" role="alert"><p ></p></div>
					</div>
				</form>
			</div>
		<div class="col-md-5">
			<div class="contact-details">
				<h3>IN TOUCH</h3>
				<hr>
				<h4>Location:</h4>
				<p>373 Main Street West</p>
				<p>Pikesville, MD 21208</p>
				<h4>EMAIL:</h4>
				<p>abc@studio.in</p>
				<h4>PHONE NUMBER:</h4>
				<p>+91 9995731234</p>
			</div>
		</div>
		</div>
	</div>
</section>
<section id="contact-map">
	<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
					 <h4 class="main-heading">VIEW US ON GOOGLE MAP</h4>
					 <p class="main-content">You can find us on google map<br>
											 </p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="map"></div>
		</div>
	</div>
</div>
</section>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXYfg-eTUhPJV-vJsOG6WPbvwkbzEsSdU"></script>

			<script type="text/javascript">
					// When the window has finished loading create our google map below
					google.maps.event.addDomListener(window, 'load', init);

					function init() {
							// Basic options for a simple Google Map
							// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
							var mapOptions = {
									// How zoomed in you want the map to start at (always required)
									zoom: 15,
									scrollwheel: false,

									// The latitude and longitude to center the map (always required)
									center: new google.maps.LatLng(9.0513177,76.5362767), // New York

									// How you would like to style the map.
									// This is where you would paste any style found on Snazzy Maps.
									styles: [{"featureType":"administrative","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"saturation":-100},{"lightness":"50"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":"-100"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"lightness":"30"}]},{"featureType":"road.local","elementType":"all","stylers":[{"lightness":"40"}]},{"featureType":"transit","elementType":"all","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]},{"featureType":"water","elementType":"labels","stylers":[{"lightness":-25},{"saturation":-100}]}]
							};

							// Get the HTML DOM element that will contain your map
							// We are using a div with id="map" seen below in the <body>
							var mapElement = document.getElementById('map');

							// Create the Google Map using our element and options defined above
							var map = new google.maps.Map(mapElement, mapOptions);

							// Let's also add a marker while we're at it
							var marker = new google.maps.Marker({
									position: new google.maps.LatLng(9.0513177, 76.5362767),
									map: map,
									title: 'Uniland Homes'
							});
					}

			</script>
{% endblock %}
