{% extends 'site/base.html' %}
{% load staticfiles %}
{% block main_content %}
<header id="home_about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 head">
				<h1 class="text-center">Gallery</h1>
			</div>
		</div>
	</div>
</header>
<section id="about_about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3 class="text-center">A Portfolio Masonry Boxed</h3>
				<p class="text-center">Donec ornare, libero ultrices dictum pharetra, diam justo auctor orci. </p>
				<hr>
			</div>
		</div>
	</div>
</section>
<section id="portfolio">
	<div class="container-fluid">
		<div class="row gallery">
			<div class="col-md-6 images">
			{% for photo in album.photo_set.all %}
				{% if photo.grid == '1'%}
					<div class="image">
							<img class="img-responsive" src="{{ photo.image.url }}" alt="">
						<div class="datas">
							<p class="text-center"><i class="fa fa-search-plus icon" aria-hidden="true"></i><br>La Cervecita</p>
						</div>
					</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-6 images">
			{% for photo in album.photo_set.all %}
				{% if photo.grid == '2'%}
					<div class="image">
						<img class="img-responsive" src="{{ photo.image.url }}" alt="">
						<div class="datas">
							<p class="text-center"><i class="fa fa-search-plus icon" aria-hidden="true"></i><br>La Cervecita</p>
						</div>
					</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
