{% extends 'site/base.html' %}
{% load staticfiles %}
{% block main_content %}
<header id="home">
  <div class="owl-carousel main_slider">
      <div class="item">
          <img src="{% static 'img/bg.jpg' %}" alt="" class="slide-bg">
          <div class="row m0 slide_caption">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="row m0 caption_iiner">
                              <h2 class="first_heading">We are</h2>
                              <h3 class="second_heading">STUDIO</h3>
                              <h5 class="fourth_heading">Lorem ipsunm dolor sit amet</h5>
                              <p>This is our portfolio. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam ahoncus</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!--Caption Container-->
      </div>
      <div class="item">
          <img src="{% static 'img/bg.jpg' %}" alt="" class="slide-bg">
          <div class="row m0 slide_caption">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="row m0 caption_iiner">
                              <h2 class="first_heading">We are</h2>
                              <h3 class="second_heading">STUDIO</h3>
                              <h5 class="fourth_heading">Lorem ipsunm dolor sit amet</h5>
                              <p>This is our portfolio. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam ahoncus</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!--Caption Container-->
      </div>
      <div class="item">
          <img src="{% static 'img/bg.jpg' %}" alt="" class="slide-bg">
          <div class="row m0 slide_caption">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="row m0 caption_iiner">
                              <br><br><br><br>
                              <h4 class="third_heading">We make your life beautiful</h4>
                              <h4 class="third_heading">We are <strong>STUDIO</strong></h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!--Caption Container-->
      </div>
  </div>
  <div class="row m0 mouse_button">
      <div class="container">
          <a href="#services" class="goTo_severces"><img src="{% static 'img/mouse2.png' %}" alt="" id="mouse"></a>
      </div>
  </div>
</header>
<section id="about">
  <div class="container-fluid">
    <div class="col-sm-12 about-head">
      <h1 class="text-center"><span style="color: var(--primary-color)">IMAGI</span> STUDIO - OVERVIEW</h1>
    </div>
    <div class="col-sm-12 about-holder text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>
<section id="services">
  <div class="container-fluid">
    <div class="row item-holder">
      <div class="col-md-4 col-sm-4 text-center items border-top-none">
        <i class="fa fa-desktop icon" aria-hidden="true"></i>
        <h5>Responsive Websites</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="col-md-4 col-sm-4 text-center items border-top-none">
        <i class="fa fa-mobile icon" aria-hidden="true"></i>
        <h5>Android Apps</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="col-md-4 col-sm-4 text-center items border-right-none border-top-none">
        <i class="fa fa-phone icon" aria-hidden="true"></i>
        <h5>Great Support</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>
    <div class="row item-holder">
      <div class="col-md-4 col-sm-4 text-center items">
        <i class="fa fa-pencil icon" aria-hidden="true"></i>
        <h5>Design</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="col-md-4 col-sm-4 text-center items">
        <i class="fa fa-bar-chart icon" aria-hidden="true"></i>
        <h5>Marketting</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="col-md-4 col-sm-4 text-center items border-right-none">
        <i class="fa fa-calendar icon" aria-hidden="true"></i>
        <h5>Schedule</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>
  </div>
</section>
<section id="moreinfo">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 more-base">
          <div class="more-abt">
              <h2>CREATIVE AGENCY</h2>
          </div>
          <div class="more-sub">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" name="button">LEARN MORE</button>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 more-outer">

        </div>
      </div>
    </div>
</section>
<section id="portfolio">
  <div class="container contents">
    <div class="row">
      <div class="head col-md-12 text-center">
        <h2 class="heading">MEET YOUR DREAM</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 items">
        <div class="owl-carousel owl-theme">
          <div class="item"><img class="port img-responsive" src="{% static 'img/bg-header.jpg' %}"></div>
          <div class="item"><img class="img-responsive" src="{% static 'img/bg-header.jpg' %}"></div>
          <div class="item"><img class="img-responsive" src="{% static 'img/bg-header.jpg' %}"></div>
          <div class="item"><img class="img-responsive" src="{% static 'img/bg-header.jpg' %}"></div>
          <div class="item"><img class="img-responsive" src="{% static 'img/bg-header.jpg' %}"></div>
          <div class="item"><img class="img-responsive" src="{% static 'img/bg-header.jpg' %}"></div>
          <div class="item"><img class="img-responsive" src="{% static 'img/bg-header.jpg' %}"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="email">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9">
        <h3>WANT TO WORK WITH US?</h3>
        <p>Integer in odio ut velit laoreet mollis. Sed elementum sit amet dolor pulvinar ornare.<br>
          Aliquam sit amet leo placerat, accumsan elit ut, ultrices urna.</p>
      </div>
      <div class="col-md-3 col-s-3">
        <button type="button" class="btn btn-default" name="button">EMAIL US</button>
      </div>
    </div>

  </div>
</section>
{% endblock %}
