{% extends 'site/base.html' %}
{% load staticfiles %}
{% block main_content %}
<header id="home_about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 head">
				<h1 class="text-center">Gallery</h1>
			</div>
		</div>
	</div>
</header>
<section id="about_about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3 class="text-center">A Portfolio Masonry Boxed</h3>
				<p class="text-center">Donec ornare, libero ultrices dictum pharetra, diam justo auctor orci. </p>
				<hr>
			</div>
		</div>
	</div>
</section>
<section id="portfolio">
	<div class="container-fluid">
		<div class="row gallery">
			{% for photo in album %}
			<div class="col-md-4 images">
					<a href="{% url 'photos' photo.id %}"><div class="image">
							<img class="img-responsive" src="{{ photo.image.url }}" alt="">
						<div class="datas">
							<p class="text-center"><br>{{ photo.name }}</p>
						</div>
					</div></a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
