{% extends 'site/base.html' %}
{% load staticfiles %}
{% block main_content %}
<header id="home_about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 head">
				<h1 class="text-center">Services</h1>
			</div>
		</div>
	</div>
</header>
<section id="services_service">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img class="img-responsive" src="{% static 'img/bg-header.jpg' %}" alt="">
				<h2>Powerfull Customization</h2>
				<p>Quisque vehicula consequat mi, nec pulvinar mauris dictum ut. Quisque cursus volutpat sapien ut vehicula. Phasellus ultricies.</p>
			</div>
			<div class="col-md-4">
				<img class="img-responsive" src="{% static 'img/bg-header.jpg' %}" alt="">
				<h2>Powerfull Customization</h2>
				<p>Quisque vehicula consequat mi, nec pulvinar mauris dictum ut. Quisque cursus volutpat sapien ut vehicula. Phasellus ultricies.</p>
			</div>
			<div class="col-md-4">
				<img class="img-responsive" src="{% static 'img/bg-header.jpg' %}" alt="">
				<h2>Powerfull Customization</h2>
				<p>Quisque vehicula consequat mi, nec pulvinar mauris dictum ut. Quisque cursus volutpat sapien ut vehicula. Phasellus ultricies.</p>
			</div>
		</div>
	</div>
</section>
<section id="about_quotes">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<i class="fa fa-mobile icon" aria-hidden="true"></i>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p><i>Author Name</i></p>
			</div>
		</div>
	</div>
</section>
<section id="services_qualities" class="auto-height-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 items">
				<div class="item">
					<h2>Pixel Perfect</h2>
					<p>Etiam in viverra diam, sed dictum mauris. Donec finibus porttitor lorem ut pretium. Sed molestie enim eros, a accumsan est imperdiet non.</p>
					<hr>
				</div>
				<div class="item">
					<h2>Pixel Perfect</h2>
					<p>Etiam in viverra diam, sed dictum mauris. Donec finibus porttitor lorem ut pretium. Sed molestie enim eros, a accumsan est imperdiet non.</p>
					<hr>
				</div>
				<div class="item">
					<h2>Pixel Perfect</h2>
					<p>Etiam in viverra diam, sed dictum mauris. Donec finibus porttitor lorem ut pretium. Sed molestie enim eros, a accumsan est imperdiet non.</p>
				</div>
			</div>
		</div>
		<div class="left-image auto-height-2">
		</div>
	</div>
</section>
{% endblock %}
