body
{
	background: #fff;
	font-family: 'Source Sans Pro',Helvetica;
	color: #686868;
}

section{
	padding-top: 60px;
	padding-bottom: 60px;
}
:root {
  --primary-color: #c12a39;
	--btn-color-red: #be2232;
}
header{
	position: relative;
}
.navbar
{
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border: none;
	transition: 1s ease;
}
@media (max-width : 767px)
{
	.navbar
	{
		height: 60px;
		position: relative;
	}
	.navbar .navbar-brand
	{
		color: var(--primary-color) !important;
	}
	.navbar .nav li
	{
		background: #fff;
	}
	.navbar .nav li a
	{
		font-weight: bolder;
		color: var(--primary-color) !important;
	}
	.navbar .navbar-header .navbar-toggle span {
    background: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
	}
}
.navbar .navbar-brand
{
	color: #fff;
	text-transform : uppercase;
	font-size: 3em;
}


.navbar .nav li a
{
	font-weight: bolder;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.2em;
}

.shrink
{
	background-color: rgba(255,255,255,.9);
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.11);
}

.shrink .navbar-brand
{
	color: #181A1E;
}

.shrink .nav li a
{
	color: var(--primary-color);
}

.navbar .nav li.active a,.navbar .nav li a:hover
{
	background: transparent;
	color: var(--primary-color) !important;
}
.navbar .nav li.active a:active
{
	background: transparent;
}

.navbar .nav li a:active,.navbar .nav li a:focus,.navbar .nav li a:visited
{
	background: transparent;
	color: #fff;
}
.shrink .nav li a:active,.shrink .nav li a:focus,.shrink .nav li a:visited
{
	background: transparent;
	color: var(--primary-color);
}
.shrink .nav li.active a
{
	color: var(--primary-color);
	background: transparent;
}
.navbar .nav li.active:hover a
{
	color: var(--primary-color);
	background: transparent;
}

.navbar .nav li:hover a
{
	color: var(--primary-color);
	background: transparent;
}
.m0
{
  margin: 0;
}
.main_slider {
  position: relative;
}
.main_slider .item {
  width: 100%;
}
.main_slider .item .slide_caption {
  position: absolute;
  width: 100%;
  top: 41%;
}
.main_slider .item .slide_caption .caption_iiner {
  padding-left: 50px;
}
.main_slider .item .slide_caption h2 {
  font-size: 130px;
  color: #fff;
  margin: 0;
  font-weight: 300;
  line-height: 98px;
}
.main_slider .item .slide_caption h3 {
  font-size: 72px;
  color: #fff;
  margin: 0;
}
.main_slider .item .slide_caption h4 {
  font-size: 48px;
  color: #fff;
  margin: 0;
}
.main_slider .item .slide_caption h5 {
  font-size: 18px;
  color: #fff;
  margin: 20px 0;
}
.main_slider .item .slide_caption p {
	color: #fff;
  margin: 0;
}
.main_slider .item .slide_caption .col-sm-6 {
  text-align: right;
}
.main_slider .owl-dots {
  position: absolute;
  top: 50%;
  left: -webkit-calc(50% - 565px);
  left: calc(50% - 565px);
}
.main_slider .owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  background-color: transparent;
  border-radius: 100%;
  opacity: .5;
}
.main_slider .owl-dots .owl-dot + .owl-dot {
  margin-top: 35px;
}
.main_slider .owl-dots .owl-dot.active {
  opacity: 1;
  border-color: #fff;
  background: #fff;
}
.mouse_button {
  position: absolute;
  bottom: 120px;
  left: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  -webkit-animation: mouseUpDown 2s ease-in-out;
  animation: mouseUpDown 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.mouse_button #mouse {
  cursor: pointer;
}
@-webkit-keyframes mouseUpDown {
  0% {
    bottom: 120px;
  }
  25% {
    bottom: 130px;
  }
  50% {
    bottom: 120px;
  }
  75% {
    bottom: 110px;
  }
  100% {
    bottom: 120px;
  }
}
@keyframes mouseUpDown {
  0% {
    bottom: 120px;
  }
  25% {
    bottom: 130px;
  }
  50% {
    bottom: 120px;
  }
  75% {
    bottom: 110px;
  }
  100% {
    bottom: 120px;
  }
}

@media (max-width: 1199px) {
  .main_slider .item .slide_caption {
    top: 34%;
  }
  .main_slider .item .slide_caption h2 {
    font-size: 100px;
    font-weight: 900;
  }
  .main_slider .item .slide_caption h3 {
    font-size: 48px;
  }
  .main_slider .item .slide_caption h4 {
    font-size: 30px;
  }
  .main_slider .item .slide_caption h5 {
    font-size: 16px;
  }
  .main_slider .owl-controls {
    top: 43%;
    left: 10px;
  }
  .mouse_button {
    bottom: 60px;
  }
  @-webkit-keyframes mouseUpDown {
    0% {
      bottom: 60px;
    }
    25% {
      bottom: 70px;
    }
    50% {
      bottom: 60px;
    }
    75% {
      bottom: 50px;
    }
    100% {
      bottom: 60px;
    }
  }
  @keyframes mouseUpDown {
    0% {
      bottom: 60px;
    }
    25% {
      bottom: 70px;
    }
    50% {
      bottom: 60px;
    }
    75% {
      bottom: 50px;
    }
    100% {
      bottom: 60px;
    }
  }
}
@media (max-width: 991px) {
  .main_slider .item .slide_caption h2 {
    font-size: 80px;
    line-height: 65px;
  }
  .main_slider .item .slide_caption h5 {
    margin: 15px 0;
  }
  @-webkit-keyframes mouseUpDown {
    0% {
      bottom: 60px;
    }
    25% {
      bottom: 70px;
    }
    50% {
      bottom: 60px;
    }
    75% {
      bottom: 50px;
    }
    100% {
      bottom: 60px;
    }
  }
  @keyframes mouseUpDown {
    0% {
      bottom: 60px;
    }
    25% {
      bottom: 70px;
    }
    50% {
      bottom: 60px;
    }
    75% {
      bottom: 50px;
    }
    100% {
      bottom: 60px;
    }
  }
}
@media (max-width: 767px) {
  .main_slider .item .slide_caption {
  top: 20%;
}
.main_slider .item .slide_caption .caption_iiner {
  padding-left: 0;
}
.main_slider .item .slide_caption h2 {
  font-size: 48px;
  line-height: .8;
}
.main_slider .item .slide_caption h3 {
  font-size: 30px;
}
.main_slider .item .slide_caption p {
  display: none;
}
.main_slider .item .slide_caption br {
  display: none;
}
.main_slider .item .slide_caption .col-sm-6 {
  text-align: center;
}
.main_slider .owl-controls {
  display: none;
}
@-webkit-keyframes mouseUpDown {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 50px;
  }
  50% {
    bottom: 40px;
  }
  75% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}
@keyframes mouseUpDown {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 50px;
  }
  50% {
    bottom: 40px;
  }
  75% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}
}


.hr-heading
{
	width: 50px;
	border: 2px solid var(--primary-color);
	padding: 0;
	margin: 0 auto;
	transition: 1s ease;
}

#services .heading
{
	color: var(--primary-color);
	margin-bottom: 10px;
}
#services .head:hover .hr-heading
{
	width: 100px;
	border-color: #fff;
}
#services .item-holder
{
	padding-left: 100px;
	padding-right: 100px;
}
#services .items
{
	padding: 50px;
	border-right: 1px solid #828a8f;
	border-top: 1px solid #828a8f;
	height: 250px;
}
#services .items p
{
	display: none;
	font-size: 1.1em;
}
#services .items:hover p {
	display: block;

}
#services .items:hover .icon
{
	padding-bottom: 10px;
	font-size: 2em;
}
#services .border-right-none
{
	border-right: none;
}
#services .border-top-none
{
	border-top: none;
}
#services .items .icon
{
	padding-bottom: 30px;
	font-size: 3.5em;
	color: var(--primary-color);
	transition: 1s ease;
}
#services .items .icon:hover
{
	color: #828a8f;
}
#services .items h5
{
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #828a8f;
}
@media (max-width:767px)
{
	#services .items
	{
		padding: 10px;
		border: none;
	}
}
#about
{
	font-size: 1.3em;
	line-height: 30px;
	font-weight:lighter;
}
#about .about-head::before
{

	content: '';
	border-style: solid;
	border-width: 5px 0px 0px 5px;
	border-color: var(--primary-color);
	display: inline-block;
	width: 26px;
	height: 26px;
}
#about .about-head h1
{
	margin: 30px;
	font-size: 34px;
	font-weight: 400;
}
#about .about-holder p
{
	color: #828a8f;
	line-height: 34px;
	font-size: 22px;
}
#about .about-head{
	padding-left: 350px;
	padding-right: 350px;
}
#about .about-head::after
{
	float: right;
	content: '';
	border-style: solid;
	border-width: 0px 5px 5px 0px;
	border-color: var(--primary-color);
	display: inline-block;
	width: 26px;
	height: 26px;
}
#about .about-holder
{
	padding-top: 30px;
	padding-left: 200px;
	padding-right: 200px;
}
@media (max-width:767px){
	#about .about-holder
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	#about .about-head{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (max-width:991px){
	#about .about-holder
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	#about .about-head{
		padding-left: 0px;
		padding-right: 0px;
	}
}
#moreinfo
{
		margin: 0;
		padding: 0;
		height: 100%;
}
#moreinfo .more-base p
{
	padding-top:20px;
	line-height: 30px;
	font-size: 1.2em;
	color: #a8a8a8;
	font-weight: lighter;
}
#moreinfo .more-base button
{
	background: var(--primary-color);
	border: none;
	font-size: 10px;
	width: 140px;
	height: 40px;
	margin-top: 20px;
	border-radius: 2px;


}
#moreinfo .more-base
{
	padding-top:60px;
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;
	background: #1d1d1d;
	height: 550px;

}
#moreinfo .more-outer
{
	background: url(../img/abt.jpg) repeat-x scroll right top;
	height: 642px;
}
#portfolio
{
	padding-top: 20px;
}
#portfolio .contents
{
	padding-bottom: 30px;
}
#portfolio .heading
{
	margin-bottom: 20px;
	font-size: 34px;
	font-weight: 400;
	color: var(--primary-color);
}
#portfolio .head p
{
	font-size: 1.5em;
	font-weight: lighter;
	padding-bottom: 20px;
	color: #a8a8a8;
}
#portfolio .head:hover .hr-heading
{
	width: 100px;
	border-color: #fff;
}
#portfolio .items
{
	padding-top: 30px;
}
#portfolio .items .item
{
	background: #181A1E;
}
#portfolio .items .item img
{
	transition: 1s ease;
}
#portfolio .items .item:hover img
{
	opacity: 0.5;
}
#portfolio .owl-theme .owl-dots .owl-dot.active span
{
	background-color: var(--primary-color) !important;
}
#portfolio .counter
{
	background-color: #fff;
	color: var(--primary-color);
	padding: 40px;
}
#portfolio .counter h2
{
	font-weight: bolder;
}
#portfolio .counter h3
{
	font-weight: normal;
}
#portfolio .counter .icon
{
	font-size: 3em;
}
#email
{
	background: var(--primary-color);
}
#email h3
{
	font-size: 26px;
	font-style: italic;
	margin-bottom: 15px;
	color: #fff;
}
#email p
{
	color: #ffd6da;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 30px;
	margin: 0px;
}
#email button{
	color: #fff;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: var(--btn-color-red);
  padding: 14px 25px;
  border-radius: 4px;
  box-shadow: none;
  outline: 0;
  float: right;
  margin-top: 30px;
	border-width: 0;
}
#contact-form
{
	padding-bottom: 0px;
}
#contact-form input
{
	height: 40px;
}
#contact-form .input
{
	padding-top: 10px;
	padding-left: 0;
}
#contact-form label
{
	font-weight: 300;
    margin: 10px 0;
    color: #494c50;
}
#contact-form .form-control
{
	font-size: 12px;
    background-color: #fff;
    border: 1px solid rgb(64, 67, 71);
    border-radius: 0;
}
#contact-form .main-heading
{
	font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-bottom: 1.5em;
    margin-top: 30px;
    text-transform: uppercase;
}
#contact-form .form-control:focus
{
    border-color: var(--primary-color);
    box-shadow: none;
}
#contact-form a
{
	border: 1px solid rgb(64, 67, 71);
    color: rgb(64, 67, 71);
    float: none;
    font-size: 13px;
    height: auto;
    letter-spacing: 2px;
    line-height: 1;
    margin: 8px 10px 6px 0;
    padding: 11px 30px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0;
}
#contact-form button:hover
{
	border-color: var(--primary-color);
}
#contact-form #result
{
	background: transparent;
	border: none;
}
#contact-form h3
{
	color: #1d1d1d;
	font-size: 2.3em;
	text-transform: uppercase;
}
#contact-form .contact_head
{
	padding-bottom: 10px;
}
#contact-form .contact_head p
{
	color: #828a8f;
	line-height: 34px;
	font-size: 16px;
	padding-left: 90px;
	padding-right: 90px;
}
#contact-form hr
{
	border-width: 5px;
	width: 50px;
	border-color: var(--primary-color);
}
#contact-form .contact-details
{
	padding: 100px;
}
#contact-form .contact-details h3
{
	font-size: 2.2em;
	text-transform: uppercase;
	color: #271818;
}
#contact-form .contact-details h4
{
		text-transform: uppercase;
    color: #271818;
    margin: 0;
    line-height: 1;
    display: inline-block;
		font-size: 1.7em;
}
#contact-form .contact-details hr
{

	width: 100%;
	height: 1px;
	background: #271818;
	border:none;
	margin-top: 15px;
}
#contact-map
{
	padding-bottom: 0px;
}
#contact-map .container
{
	width: 100%;
}
#contact-map h4
{
	color:  #1d1d1d;
	font-size: 2em;
	text-transform: uppercase;
}
#contact-map p
{
	color: #828a8f;
	line-height: 34px;
	font-size: 16px;
	padding-left: 90px;
	padding-right: 90px;
}
#contact-map .main-content
{
	padding-bottom: 30px;
}
#map
{
	height:450px;
}

#footer
{
	padding-top: 85px;
	padding-bottom: 85px;
	background: #212121;
}
#footer h4
{
	color: #dfdfdf;
  padding-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 35px;
}
#footer p
{
	color: #b5b5b5;
}
#footer ul li a
{
	color: #b5b5b5;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #3d3d3d;
  position: relative;
  padding-left: 20px;
}
#footer ul
{
	padding-left: 10px;
}
#footer .tags a
{
	color: #b5b5b5;
	font-size: 12px;
	display: inline-block;
	font-weight: 400;
	line-height: 30px;
	text-decoration: none;
	background-color: #313131;
	padding: 5px 15px;
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 15px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	#footer .tags a:hover
	{
		background: var(--primary-color);
		color:#fff;
	}

#home_about
{
	background: url(../img/abt-header.jpg) no-repeat fixed;
	background-repeat: no-repeat;
	background-size: cover;

}
#home_about .head
{
	padding-top: 300px;
	padding-bottom:200px;
	color: #fff;
}
#home_about h1
{
	font-size: 80px;
	font-weight: 700;
}
#about_about
{
	padding-bottom: 80px;
}
#about_about h3
{
	color: #1d1d1d;
}
#about_about .about_about_head
{
	padding-bottom: 10px;
}
#about_about p
{
	color: #828a8f;
	line-height: 34px;
	font-size: 16px;
	padding-left: 90px;
	padding-right: 90px;

}
#about_about .about_about_holder
{
	margin-bottom: 60px;
}
#about_about .icon
{
	padding-bottom: 30px;
	font-size: 3.5em;
	color: var(--primary-color);

}
#about_about hr
{
	border-width: 5px;
	width: 50px;
	border-color: var(--primary-color);
}
@media (max-width:767px)
{
	#about_about p
	{
		padding-left: 0px;
		padding-right: 0px;

	}
}
#about_team
{
		margin: 0;
		padding: 0;
		height: 100%;
}
#about_team .more-base p
{
	padding-top:20px;
	line-height: 30px;
	font-size: 1.2em;
	color: #febcbc;
	font-weight: lighter;
}
#about_team .more-base h2
{
	font-size: 3em;
	font-weight: bold;
}
#about_team .more-base
{
	padding-top:60px;
	padding-left: 100px;
	padding-right: 100px;
	color: #fff;
	background: #fb4e4e;
	padding-bottom: 30px;
}
#about_team .more-outer
{
	background: #1d1d1d;
}
#about_team .more-outer .images
{
	list-style: none;
	padding: 0;
}
#about_team .more-outer .image
{
	width: 33.3%;
	float: left;
}
#about_team .more-outer img{
	width: 100%;
}
#about_team .more-outer img:hover{
	opacity: 0.7;
}
#about_team .more-outer
{
	width: 50%;
	position: absolute;
	left: 50%;
}
@media (max-width:1200px){
	#about_team .more-outer
	{
		width: 100%;
		position: relative;
		left: 0%;
	}
	#about_team .more-base
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

#about_quotes
{
	padding: 100px 0px;
	background: url(../img/bg-top-header.jpg) no-repeat fixed;
	background-size: cover;
}
#about_quotes .icon{
	color: #fff;
	font-size: 5em;
}
#about_quotes p
{
	line-height: 40px;
	font-size: 1.5em;
	color: #fff;
	font-weight: lighter;
}

#services_qualities
{
	position: relative;
}
#services_qualities .items
{
	padding-left: 100px;
	padding-right: 60px;
	float: right;
}
#services_qualities .items .item h2
{
	color: #313131;
	font-weight: 700;
	font-size: 2.5em;
}
#services_qualities .items .item p
{
	padding-top:20px;
	line-height: 30px;
	font-size: 1.2em;
	color: #7b7b7b;
	font-weight: lighter;
}
#services_qualities .left-image
{
	position: absolute;
	float: left;
	background: url(../img/left_service.jpg) no-repeat;
	background-size: cover;
	width: 50%;
	top: 0;
	left: 0;
}
@media (max-width:1200px){
	#services_qualities .left-image
	{
		display: none;
	}
}

#services_service p
{
	color: #898989;
	line-height: 30px;
	font-size: 1.2em;
	font-weight: lighter;
}
#services_service h2
{
	color: #313131;
	font-size: 1.5em;
}
#portfolio .gallery .images .image
{
	position: relative;
}
#portfolio .gallery .images .image img
{
	width: 100%;
	margin: 20px 0px;
}
#portfolio .gallery .images .image .datas
{
	position: absolute;
  top: 0%;
  left: 0%;
	transform: translate(-50%,-50%);
	transform: scale(0);
	background-color: rgba(60, 225, 240, 0.8);
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	opacity: 0;
}
#portfolio .gallery .images .image:hover .datas
{
	transform: scale(1);
	background-color: rgba(60, 225, 240, 0.8);
	opacity: 1;
}
#portfolio .gallery .images .image .datas p
{
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
footer
{
	padding: 10px;
	font-size: 1em;
	color: #181A1E;
	background: #191919;
}
footer p
{
	color: #fff;
}
footer li a
{
	margin-right: 10px;
	font-size: 1em;
  font-weight: 400;
	color: #b5b5b5;
	text-decoration: none;
}
footer li a:hover
{
	text-decoration: none;
	color: #fff;
}
footer li
{
	float: right;
	margin-right:  10px;
	text-align: right;
	border-right: 1px solid #3d3d3d;
}
footer ul
{
	list-style: none;
}
